body
{
background: linear-gradient(rgb(91, 91, 238)0%, rgb(252, 188, 188) 100%);
}
h1
{
  
  color:rgb(238, 236, 247);
  background-color: rgb(65, 6, 125);
}
#showsketch
{
  float:right;
}
canvas 
  {
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px; 
    animation-iteration-count: infinite;
    
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(239, 132, 132);}
  to {box-shadow: 1px 1px 38px rgb(72, 20, 95);}

}
p
  {
    padding-top:10px;
    font-size:25px;
    
  }
p {
  color: white;
}